<html>
  <head>
      <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
      <link rel="stylesheet" href="css/Control.Geocoder.css" />

      <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
      <title>Welcome to nomakler</title>
  </head>
  <body>
    <div id="navbar">
    </div>
    <div id="alerts">
    </div>
      <div class="container-fluid">
        <div class="row">
          <div id="toolbox" class="col-md-2">
          </div>

          <div id="map-wrapper">
          </div>
        </div>
      </div>

    <!-- scripts and styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/bootstrap/css/bootstrap-theme.min.css" %}
    {% style "/css/screen.css" %}

    <script type="text/javascript">
        var context = "{{ servlet-context }}";
        var context_data = {{ context_data|safe }};
    </script>
    <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/js/Control.Geocoder.js"></script>
    <script src="/js/wellknown.js"></script>
    {% script "/js/app.js" %}
  </body>
</html>

